---
import ProductList from '../components/ProductList.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Articles from '../components/Articles.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div id="slider">

	</div>
	<main>
		<Section name="selection" title="Notre sélection pour vous" seeAllUrl="#">
			<ProductList />
		</Section>
		<Section name="selection" title="Gaming & Multimédia" seeAllUrl="#">
			<ProductList />
		</Section>
		<Section name="selection" title="Son & Image" seeAllUrl="#">
			<ProductList />
		</Section>
		<Section name="selection" title="Services & Seconde vie" seeAllUrl="#">
			<ProductList />
		</Section>
		<Articles/>
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		flex-direction: column;
		gap: 128px;
		padding-block: 96px;
	}
</style>